/* Reset básico e estilos globais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, #4a90e2, #7b4397);
  gap: 10px;
}

a {
  color: #9dc4f0;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  padding: 5px;
  border-radius: 2px;
  background-color: #7b4397;
  transform: scale(1.05);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }

form {
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
  min-width: 400px;
  width: min-content;
  max-width: 800px;
  animation: fadeIn 0.8s ease;
}

input{
  padding: 0 10px;
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}
/* Importando os módulos de estilo */
@import url('cadastro.css');
@import url('alunos.css');
@import url('dashboard.css');
@import url('cadastro_aluno.css');
@import url('relatorio.css');
@import url('editar_aluno.css');

