/* Reset básico e estilos globais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, #4a90e2, #7b4397);
  gap: 10px;
}

a {
  color: #4a90e2;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  padding: 5px;
  border-radius: 2px;
  background-color: #7b4397;
  transform: scale(1.05);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }

/* Importando os módulos de estilo */
@import url('cadastro.css');
@import url('alunos.css');
@import url('dashboard.css');
@import url('cadastro_aluno.css');
@import url('relatorio.css');
@import url('editar_aluno.css');

